<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <title>Estacionamiento</title>
</head>
<body>

    <div class="login-page">
        <div class="form">
            <form action="/login" method="post" class="login-form">
              <label for="txtUsuario" class="form-label">Usuario:</label>
              <input type="text" name="txtUsuario" id="txtUsuario" placeholder="Nombre"/>
              <label for="txtPassword" class="form-label">Contraseña:</label>
              <input type="password" name="txtPassword" id="txtPassword" placeholder="Contraseña"/>
              <button type="submit" class="btn btn-success">Ingresar</button>
              <p class="message">No estas registrado? <a href="#">Crear Cuenta</a></p>
            </form>
        </div>
      </div>

</body>
</html>