<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <title>Estacionamiento</title>
</head>
<body>

    <div class="login-page">
        <div class="form">

          <form class="register-form">
            <input type="text" placeholder="nombre"/>
            <input type="password" placeholder="contraseña"/>
            <input type="text" placeholder="email"/>
            <button><a href="#">Crear Cuenta</a></button>
            <p class="message">Estas registrado? </p>
          </form>

          <form class="login-form">
            <input type="text" placeholder="Nombre"/>
            <input type="password" placeholder="Contraseña"/>
            <button><a href="/inicio">Ingresar</a></button>
            <p class="message">No estas registrado? <a href="#">Crear Cuenta</a></p>
          </form>

        </div>
      </div>
</body>
</html>