{% include 'header.html' %}
<br>
<br>
<br>
<div class="caja container">
    <div>
      <label id="textoDeAlta">FORMULARIO DE ALTA</label>
      </div>
    <form action="/altaenv" method="post">
      <div class="mb-3">
        <label for="patente" class="form-label">Patente</label>
        <input class="form-control" name="patente" placeholder="ABC 123"></textarea>
      </div>
      <div class="mb-3">
          <label for="celular">Celular</label>
          <input class="form-control" name="celular" placeholder="341 6987654"></textarea>
      </div>
    <br> 

    <div>      
      <button type="submit" class="btn btn-success boton"><a>Aceptar</a></button>
      <button type="submit" class="btn btn-danger boton"><a>Cancelar</a></button>
      <br>
      <br>
    </form>
    </div>


<style>
.caja {
  width:500px;
  box-shadow: 5px 1px 20px 1px #888888;
  background:	#F5F5F5;
  padding-bottom:20px;
 }

.aviso {
  font-size:20px;
  text-align: center;
}

#textoDeAlta {
  margin: 20px;
  margin-left:0px;
  font-size:18px;
  color:grey;
  
}

.boton {
  float:right;
  margin:5px; 
}
.gender {
  margin-right:10px;
  color:grey;
  padding:2px;
}

.sexo {
  color:grey;
  
}
</style>

{% include 'footer.html' %}