{% include 'header.html' %}

<div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <!-- <h1 class="modal-title fs-5" >Modal title</h1> -->
          <h1 class="fw-bold mb-0 fs-2">Baja Auto en Parking</h1>
        </div>
         
        <div class="modal-body p-5 pt-0">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                {% if message=="Baja" %}
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Baja realizada</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>   
                {% else %}
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div> 
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endwith %}
          <form class="" action="/bajaenv" method="post">
            <div class="form-floating mb-3">
              <input class="form-control rounded-3" id="floatingInput" name="patente" placeholder="name@example.com">
              <label for="floatingInput">Patente</label>
            </div>
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-danger" type="submit">Confirmar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include 'footer.html' %}