{% include 'headerdesactivado.html' %}

<div class="modal modal-signin position-static d-block bg-secondary py-1" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header px-5 pt-4 pb-0 border-bottom-0">
          <h2 class="border-bottom fw-bold mb-0 fs-2 pb-2 w-100 text-center">Resumen Estadía Cliente</h2>
        </div>
         
        <div class="modal-body px-5 pt-1 pb-2">
            <div class="d-flex text-muted pt-3">
                <img class="bi me-4" src="{{ url_for('static',filename='patente.svg') }}" alt="" width="32" height="32">
                <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                    <div class="d-flex justify-content-between">
                        <strong class="text-gray-dark">Patente</strong>
                    </div>
                    <span class="d-block">{{datos.patente}}</span>
                </div>
            </div>
            <div class="d-flex text-muted pt-3">
                <img class="bi me-4" src="{{ url_for('static',filename='tiempo.svg') }}" alt="" width="32" height="32">
                <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                    <div class="d-flex justify-content-between">
                        <strong class="text-gray-dark">Tiempo estacionado</strong>
                    </div>
                    <span class="d-block">{{datos.tiempo}} minutos</span>
                </div>
            </div>
            <div class="d-flex text-muted pt-3">
                <img class="bi me-4" src="{{ url_for('static',filename='costo.svg') }}" alt="" width="32" height="32">
                <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                    <div class="d-flex justify-content-between">
                        <strong class="text-gray-dark">Costo Tiempo</strong>
                    </div>
                    <span class="d-block">${{datos.costo}}   &nbsp &nbsp    (${{datos.preciobase}} son de precio base) </span>
                </div>
            </div>
            <div class="d-flex text-muted pt-3">
                <img class="bi me-4" src="{{ url_for('static',filename='descuento.svg') }}" alt="" width="32" height="32">
                <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-gray-dark">Descuento aplicado</strong>
                </div>
                <span class="d-block">{{datos.descuento}}% &nbsp &nbsp ({{datos.descripcionDescuento}})</span>
                </div>
            </div>
            <div class="d-flex text-muted pt-3">
                <div class="pb-3 mb-0 small lh-sm border-bottom w-100"></div>
            </div>
    
            <div class="d-flex text-muted align-items-center pt-1">
                <img class="bi me-4" src="{{ url_for('static',filename='monto.svg') }}" alt="" width="32" height="32">
                <strong class="text-dark fs-3">Monto a Pagar:</strong>
                <span class="d-block fs-4">&nbsp &nbsp ${{datos.monto}}</span>    
            </div>
            <div class="pb-1 mb-0 small lh-sm border-bottom w-100"></div>
            <br>
            <br>
            {% if origen=='formulario'%}
            <a href="/baja"><button class="w-100 mb-2 btn btn-lg rounded-3 btn-success">Finalizar</button></a>
            {% else %}
            <a href="/listado"><button class="w-100 mb-2 btn btn-lg rounded-3 btn-success">Finalizar</button></a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% include 'footer.html' %}