<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estacionamiento</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='estacionamiento.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>

  <div class="container-fluid border">
    <header class="d-flex flex-wrap justify-content-center py-3">
      <img class="bi me-4" src="{{ url_for('static',filename='estacionamiento.svg') }}" alt="" width="40" height="40">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/inicio" class="nav-link active" aria-current="page">Inicio</a></li>
        <li class="nav-item"><a href="/alta" class="nav-link">Altas</a></li>
        <li class="nav-item"><a href="/baja" class="nav-link">Bajas</a></li>
        <li class="nav-item"><a href="/listado" class="nav-link">Lista</a></li>
      </ul>
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{{ url_for('rutasglobales.logout') }}" class="nav-link text-danger">Cerrar Sesion</a></li>
      </ul>
    </header>
  </div>
    

