{% include 'header.html' %}
<br>
<br>
<br>
<br>
  <div class="d-grid justify-content-center gap-5">
      <div class="text-center">  
        <a href="/alta"><button class="btn btn-primary" type="button">ALTA AUTO</button></a>
      </div>

      <div class="text-center">  
        <a href="/baja"><button class="btn btn-primary" type="button">BAJA AUTO</button></a>
      </div>

      <div class="text-center">  
        <a href="/listado"><button class="btn btn-primary" type="button">LISTAR ESTACIONAMIENTOS</button></a>
      </div>
  </div>  

{% include 'footer.html' %}