{% include 'header.html' %}
<br>
<br>
<br>
<br>
  <div class="d-grid justify-content-center ">
      <a href="/alta"><button class="btn btn-primary" type="button">COMENZAR ESTACIONAMIENTOS</button></a>
      <br>
      <br>
      <a href="/baja"><button class="btn btn-primary" type="button">FINALIZAR ESTACIONAMIENTOS</button></a>
      <br>
      <br>
      <a href="/listado"><button class="btn btn-primary" type="button">MOSTRAR ESTACIONAMIENTOS</button></a>
  </div>  

{% include 'footer.html' %}