{% include 'header.html' %}
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="table-content">
            <table class="table table-borded table-responsive table-striped " id="table-list" >
                <thead class="table-dark">
                    <tr>
                        <td>Patente</td>
                        <td>Celular</td>
                        <td>HoraEntrada</td>
                        <td>HoraSalida</td>
                    </tr>
                </thead>

                <tbody>
                    {% for e in estadia %}
                        <tr>
                            <td>{{p.patente}}</td>
                            <td>{{p.numero}}</td>
                            <td>{{}}</td>
                            <td>12:30</td>
                        </tr>
                    {% endfor %}     
                </tbody>
            </table>
        </div>
    </div>
{% include 'footer.html' %}