{% include 'header.html' %}
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="table-content">
            <table class="table table-borded table-responsive table-striped " id="table-list" >
                <thead class="table-dark">
                    <tr>
                        <td>Piso</td>
                        <td>Nro Parking</td>
                        <td>Patente</td>
                        <td>Celular</td>
                        <td>Fecha y Hora Entrada</td>
                    </tr>
                </thead>

                <tbody>
                    {% for l in data_lista %}
                        <tr>
                            <td>{{l[0]}}</td>                            
                            <td>{{l[1]}}</td>                            
                            <td>{{l[2]}}</td>                            
                            <td>{{l[3]}}</td>                            
                            <td>{{l[4]}}</td>                            
                        </tr>
                    {% endfor %}     
                </tbody>
            </table>
        </div>
    </div>
{% include 'footer.html' %}